.root {
  --width: 50em;
  --height: 50em;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: var(--width);
  height: var(--height);
  min-width: var(--width);
  min-height: var(--height);

  transform: perspective(50em) rotateX(35deg) translateY(-5.5em);

  transform-style: preserve-3d;
}

.row {
  display: flex;
  justify-content: space-evenly;

  transform-style: preserve-3d;
}
