.root {
  --perspective: 800px;
  --width: 50em;
  --height: 50em;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: var(--width);
  height: var(--height);
  min-width: var(--width);
  min-height: var(--height);

  perspective: var(--perspective);
  perspective-origin: bottom center;
  transform: perspective(var(--perspective)) rotateX(30deg) translateY(-6.5em);
}

.row {
  display: flex;
  justify-content: space-evenly;
}
