html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 16px;

  margin: 0;

  height: 100vh;

  background-color: rgb(208, 248, 255);
}

#root {
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1030px), (max-height: 690px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 910px), (max-height: 600px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 775px), (max-height: 512px) {
  body {
    font-size: 10px;
  }
}

@media (max-width: 645px), (max-height: 425px) {
  body {
    font-size: 8px;
  }
}

@media (max-width: 520px), (max-height: 340px) {
  body {
    font-size: 6px;
  }
}
